/* 不要な空白の削除 */
body {
  margin: 0;
  padding: 0;
  max-width: 960px;
}

/* ナビゲーションメニュー */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 960px;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  font-size: 34px;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
}

/* ナビゲーションメニューのMyProfileの部分 */
.home {
  border: 1px solid black;
  padding: 0px 20px;
  margin-left: 20px;
}

/* メニューの余白 */
.menu > a {
  margin-left: 20px;
  margin-right: 20px;
}